@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl mb-1;
  }
  h2 {
    @apply text-lg font-bold mb-1;
  }
  h3{
    @apply text-base font-bold mb-1;
  }
  h4{
    @apply text-base font-semibold mb-1;
  }
  h5{
    @apply text-base font-semibold mb-1;
  }
  h6{
    @apply text-base font-semibold mb-1;
  }
  p,span{
    @apply text-sm;
  }
}

*{
  /* border: 1px solid red; */
  box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  min-height: 100vh;
  width: 70rem;
  display: flex;
  flex-direction: column;
}